body {
  background-color: rgba(26, 25, 29, 0.95);
}

h1 {
  color: #F9812A;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.titles {
  padding-left: 100px;
}

.head-shot {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.head-shot-positioning {
  padding-left: 150px;
  padding-top: 50px;
}

.text-left {
  width: 320px;
  padding-left: 100px;
  padding-top: 32px;
}

h3 {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

p {
  color: #FFF;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
